body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /*display: grid;*/
  /*grid-template-columns: repeat(1, 1fr);*/
  /*grid-template-rows: repeat(3, 1fr);*/
  grid-column-gap: 11px;
  grid-row-gap: 1px;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  height: 80vh;
}

.task {
  background-color: black;
  color: white;
  padding: 5px;
  margin: 4px;
  height: 21vh;
}
img {

  max-width: 100%;
  height: auto;
}

div.task {
  /*background-image: url("../hackathon1/img/000030.jpg");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.image1 {
  background-image: url("../hackathonjuly/img/000030.jpg");
}
.image2 {
  background-image: url("../hackathonjuly/img/000035.jpg");
}
.image3 {
  background-image: url("../hackathonjuly/img/000040.jpg");
}
.image4 {
  background-image: url("../hackathonjuly/img/000042.jpg");
}
.image5 {
  background-image: url("../hackathonjuly/img/000055.jpg");
}
.image6 {
  background-image: url("../hackathonjuly/img/000056.jpg");
}
.image7 {
  background-image: url("../hackathonjuly/img/000058.jpg");
}
.image8 {
  background-image: url("../hackathonjuly/img/000052.jpg");
}
.image9 {
  background-image: url("../hackathonjuly/img/000051.jpg");
}
.image10 {
  background-image: url("../hackathonjuly/img/000041.jpg");
}


